@model TasteFoodIt.Entities.Admin
@{
    ViewBag.Title = "UpdateAdmin";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Kullanıcı Ekleme Syfası</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Kullanıcı</li>
            <li class="breadcrumb-item active" aria-current="page">Kullanıcı İşlemleri</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!-- Form Basic -->
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Kullanıcı Ekleme Paneli</h6>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            @Html.HiddenFor(x => x.AdminId)
                            <label for="exampleInputCategory">İsim Soyisim</label>
                            @Html.TextBoxFor(Model => Model.NameSurname, new { @class = "form form-control" })
                            <br />
                            <label for="exampleInputCategory">Kullanıcı Adı</label>
                            @Html.TextBoxFor(Model => Model.Username, new { @class = "form form-control" })
                            <br />
                            <label for="exampleInputCategory">Şifre</label>
                            @Html.TextBoxFor(Model => Model.Password, new { @class = "form form-control" })
                            <br />
                            <label>Güncel Görsel</label>
                            <br/>
                            <img height="200" width="200" src="@Model.ImgURL" />
                            <br />
                            <br/>
                            <label>Görsel URL</label>
                            @Html.TextBoxFor(Model => Model.ImgURL, new { @class = "form form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">Kullanıcı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>